* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-image: url(img/test.PNG);
    background-size: cover;
    background-position: center;
}

main {
    height: 80%;
}

.persoUn {
    background-image: url(img/background-perso.PNG);
    background-size: cover;
    background-position: center;
}

#ecran {
    background-color: rgb(255, 255, 255);
    width: 1300px;
    margin: 0px;
}

.persoDeux {
    background-image: url(img/background-perso.PNG);
    background-size: cover;
    background-position: center;
}

.footer {
    width: 97.6%;
    background-image: url(img/background-perso.PNG);
}

.reglement {
    background-color: rgb(160, 36, 36);
}